#loadingGif {
  display: block;
  margin: 20% auto 0;
}

#main-card {
  background-color: white;
  color: #004062;
  margin: 1em;
  height: 30%
}

#clock > * {
  display: block;
  margin: 2em auto;
  height: 200px;
  position: relative;
  width: 200px;
  box-sizing: initial;
}

.card-body {
  background-color: #004062;
  color: white;
  margin: 1em;
  height: 30%
}
.App {
  text-align: center;
  font-family:"aktiv-grotesk","Helvetica","Arial",sans-serif;
  font-weight: 300;
}

.App-logo {
  float: left;
  height: 7em;
}

.App-header {
  height: 7em;
  padding-left: 1em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
